*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/libs/
classifier/libs/
api/src/main/java/com/bruhascended/api/Private.kt
/app/google-services.json
