<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.bruhascended.fitapp.debug.HealthConnectJsonDumpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme"
            android:noHistory="true" />
        <!-- Required by createComposeRule() in instrumented tests -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true" />
    </application>

</manifest>
